# =============================
# Visual Studio
# =============================
.vs/
*.vcxproj.user
*.VC.db

# =============================
# CMake build folders
# =============================
out/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.cmake
compile_commands.json

# =============================
# Compiled binaries
# =============================
*.exe
*.dll
*.so
*.dylib
*.obj
*.pdb
*.ilk
*.lib

# =============================
# Ninja / MSVC
# =============================
.ninja_log
.ninja_deps

# =============================
# OS junk
# =============================
.DS_Store
Thumbs.db
